@import url('https://fonts.googleapis.com/css2?family=Inter');

*{
font-size: 0.875rem;
scroll-behavior: smooth;
box-sizing: border-box;
font-family: 'Inter Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}